*{
  margin: 0;
  padding: 0;
}
.cabeçalho{
  background-color: rgb(121, 121, 121);
  color: black;
  display:flex;
  justify-content:start;
  align-items: center;
  padding: 0px 0;
}
.cabeçalho-lista{
  display: flex;
}
.cabeçalho-imagem{
  width: 8%;
}

.lupa-preta{
  width: 3%;
}
 .lupa-branca{
  display: none;
  width: 3%;
  
 }
.lojinha{
  width: 20%;
  padding: 18px 0 0 1300px;
}
.search-text{
  background: none;
  border: 0;
  outline: 0;
  font-size: 16px;
  padding: 0;
  transition: 0.4s;

}
.search-bnt{
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 70%;
cursor: pointer;
}

.search-box:hover>.search-text{
width: 320px;
padding-left: 20px;
}
.search-box:hover>.search-bnt .lupa-preta{
display: none;
}
.search-box:hover> .search-bnt .lupa-branca{
  display: block;
}
.search-box:hover>.search-bnt{
  background-color: blue;
}
::-webkit-input-placeholder{
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(0, 0, 0);
}

  .conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
  color: rgb(78, 219, 132);
  text-align: left; 
  width: 100%;
  font-size: 32px;

}
.search-box{
  padding: 18px 0 0 136px;
}
.texto-um{
padding: 0 0 0 200px;

}